html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/*layout menu
  PALETA VERDE
    #216651;
    #3e9278;
    #74baa0;
    #b8d8c0;
    #d0e0d3;
*/

.ant-layout-header {
  background: linear-gradient(
    90deg,
    rgba(33, 102, 81, 1) 0%,
    rgba(62, 146, 120, 1) 33%,
    rgba(116, 186, 160, 1) 70%
  ) !important;
}

.ant-layout-sider {
  background: #74baa0 !important;
}

.ant-menu {
  background: #74baa0 !important;
}

.ant-menu * {
  color: white !important;
  font-weight: bold;
}

.ant-menu-item::after {
  border-right: 3px solid #216651 !important;
}

.ant-menu-inline {
  border-right: 0 !important;
}

.ant-layout-sider-trigger {
  background: #216651 !important;
}

/*Login page*/

.text-center {
  text-align: center;
}

.auth-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  position: relative;
  height: 100%;
}

.sign-in-container {
  width: 50%;
  z-index: 2;
}

.form-container input {
  font-size: 14px;
}

.form-container form {
  background: #fff;
  padding: 50px;
  height: 100%;
}

.form-container form h1 {
  color: var(--text-color);
  text-align: center;
}

.login-form-forgot-right {
  position: absolute;
  right: 0;
}

.form-container button {
  margin-bottom: 5%;
}

button {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  transition: transform 20ms ease-in;
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}
